@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FDFDF5; 
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39sbGxvb29o RagehJTz4uLzMAIMggQPtxoDRvOwvAAAAFElEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAAJAAY2O2h0AAAAASUVORK5CYII=');
}

.dark body {
  background-color: #1A1A1A; 
}
